* {
  margin: 0;
  padding: 0;
  font-family: "Google Sans Flex", sans-serif;
}

html, body {
  min-height: 100vh; /* faz o body ocupar toda a altura da tela. */
}

body {
  background: #5e856e;
  background: linear-gradient(
    167deg,
    rgba(94, 133, 110, 1) 0%,
    rgba(18, 36, 4, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed; /* mantém o gradiente fixo na tela ao rolar a página */
}
